<nav class="navbar navbar-light bg-white shadow-sm fixed-top" style="width: 100vw">
  <button class="navbar-toggler" type="button" (click)="toggler = !toggler">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="" 
  [text]="isMainScreen()? 'My Schedules' : ''"></a>

  <div class="collapse navbar-collapse"
  [class.show]="toggler">
    <ul class="navbar-nav mr-auto" *ngIf="!isMainScreen()">
      <li class="nav-item active">
        <a class="nav-link" href="">My Schedules</a>
      </li>
    </ul>
  </div>

</nav>
<div class="container mt-5">
  <router-outlet></router-outlet>
</div>

