<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top">
  <a class="navbar-brand" href="" 
  [text]="(getUrl() == '/' || getUrl() == ''? 'My Schedules' : '')">{{ getUrl() }}</a>
  
  <button class="navbar-toggler" type="button" (click)="toggler = !toggler">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse"
  [class.show]="toggler">
    <ul class="navbar-nav mr-auto" *ngIf="getUrl() != '/' && getUrl() != ''">
      <li class="nav-item active">
        <a class="nav-link" href="">My Schedules<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>

</nav>
<div class="container mt-5">
  <router-outlet></router-outlet>
</div>

